@model IList<AdWorksCore.Web.Views.Employee.EmployeeViewModel>

@{
    ViewData["Title"] = "Employee List";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="well well-sm">
            <div class="form-group">
                <p class="form-control-static">
                    <a asp-action="Detail" asp-route-id="@item.Id">@item.Title @item.FirstName @item.MiddleName @item.LastName @item.Suffix</a>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="@item.EmployeeModifiedDate" class="control-label"></label>
                <input asp-for="@item.EmployeeModifiedDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Suffix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EmployeeModifiedDate)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id">@item.Id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suffix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeModifiedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-link">Create New Employee</a>
